<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<!--bidder signin-->
<div id="containers" class="container mt-5 w-100 bg-white">
	<h2 id="heading" class="text-center text-grey">Sign in</h2>
	<% if (errorMessage) { %>
		<div class="user-message user-message--error"><%= errorMessage %></div>
		<% } %>
	<form action="/user-signin" method="post">
        <div class="input-group mb-3">
			<input
				required
				type="email"
				class="form-control"
				placeholder="Email"
				aria-label="Email"
				aria-describedby="basic-addon2"
				name="user[email]"
			/>
			<span class="input-group-text" id="basic-addon2">@example.com</span>
		</div>

        <div class="align-items-center">
			<div class="">
				<input
					required
					type="password"
					id="inputPassword6"
					class="form-control"
					placeholder="Password"
					aria-describedby="passwordHelpInline"
					name="user[password]"
				/>
			</div>
		</div>

        <div id="submit-button" class="text-center">
			<button type="submit" class="btn btn-primary mt-3">Sign in</button>
		</div>
	</form>
</div>

<!-- <script>
	const form = document.querySelector('form');

	form.addEventListener('submit', async (e) => {
		e.preventDefault();

		// get values
		const email = form.user[email].value;
		const password = form.user[password].value;
		
		try {
			const res = await fetch('/user-signin', {
				method: 'post',
				body: JSON.stringify({ email, password }),
				headers: { 'Content-Type': 'application/json' }
			});
			const data = await res.json();
			if (data.user) {
				location.assign('/');
			}
		}
		catch (err) {
			console.log(err);
		}
	});
</script> -->
<%- include("../includes/end.ejs") %>


