
<%- include('../includes/admin-head.ejs') %>
<link rel="stylesheet" href="../css/signin.css" />
</head>
<body>
<section class="home-section">
	<% if (errorMessage) { %>
		<div class="user-message user-message--error"><%= errorMessage %></div>
	<% } %>
		<form action="admin" method="post">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
			<div class="form">
				<div class="title">Sign in</div>
							
				<div class="input-container ic2">
					<input
						id="email"
						class="input"
						type="text"
						placeholder=" "
						name="admin[email]"
					/>
					<div class="cut cut-short"></div>
					<label for="email" class="placeholder"
						>Email</label
					>
				</div>
				<div class="input-container ic2">
					<input
						id="password"
						class="input"
						type="password"
						name="admin[password]"
						placeholder=" "
					/>
					<div class="cut"></div>
					<label for="password" class="placeholder"
						>Password</label
					>
				</div>

				<button type="text" class="submit">Sign in</button>
			</div>
		</form>
	</div>

</div>
</section>

</body>
</html>
