<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>


<section id="containers" class="container bg-white mt-5 w-100">
	<h2 class="text-center "> About Us</h2>
	<div class="mt-5">
		<p>
			<b>BidhaAuction</b> is a website dedicated to being your destination for buying auctioned cars in Jordan.
			With this website car auctions will be brought to your home.
			We make it easy to members to find, bid on, and win cars.
		</p>
		<br>
		<p>
			<b>BidhaAuction</b> offers you New, used, damaged cars with detailed information about the car
			 such as brand, model, color, mileage, and the year of manufacture.
		</p>
		<br>
        <p><b>When the auction is started ? </b><br>
	    Our live auction started at 7pm from Sunday to Thursday every week.
		 </p>
		 <br>
		 <p><b>How many cars are there per auction ? </b><br>
		<p> 10 to 20 cars per auction, and each car stays in the auction for 10 minutes </p>
	    <p><b>Who are the seller ? </b><br>
			<p>Banks <br> Insurance companies </p>
	</div>
		

</section>

<%- include("../includes/end.ejs") %>
