<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<!--Landing page-->
<section id="containers" class="container bg-white mt-5 w-100">
	<h2 class="text-center "> What is Bidha Auction</h2>
	<div class="text-center">
		<p>
			BidhaAuction is a website dedicated to being your destination for buying auctioned cars in Jordan.
			With this website car auctions will be brought to your home.
			We make it easy to members to find, bid on, and win cars.
		</p>
		<br>
		<p>
			New, used, damaged cars and with detailed information about the car
			 such as shape, type, color, mileage, and the year of manufacture.

		</p>
	</div>
	<div>
		<img src="../imgs/car1.jpg" alt="" class="w-100" />
		<br>
		<p class="mt-5">Get your dream car with lower prices in BidhaAuction with our live auction from Sunday to Thursday at 7pm every week</p>
	</div>

</section>

<%- include("../includes/end.ejs") %>
