<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>
<section class="d-flex flex-row justify-content-center m-5">
	

    <%- include("../includes/car.ejs", {car: auction.cars[0]}) %>
    </section>
<%- include("../includes/end.ejs") %>
