<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<section class="d-flex flex-row justify-content-center m-5">
	<div
		id="signup-container"
		class="container mt-5 mr-5 auction-flex bg-white"
	>
		<%- include("../includes/car.ejs", {car: auction.cars[0]}) %>
	</div>
</section>
<%- include("../includes/end.ejs") %>
