<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<section id="containers" class="container mt-5 w-100 bg-white">
	<h2 id="heading" class="text-center text-grey">Previous Auctions</h2>

	<section class="row ">
		<div class="col mt-5 mb-5 solid ">
			<div class="row">
				<div class="col text-center mt-2 "> Auction 1</div>
			</div>
			<div class="row ">
				<div class="col text-center mt-2">Auction Date : 20/8/2022</div>
			</div>
			<div class="row ">
				<div class="col text-center mt-5 mb-2"><a class="btn btn-primary m-auto" href="/auction/auctioninfo">Auction Info</a></div>
			</div>

			</div>

			<div class="col mt-5 mb-5 solid ">
				<div class="row">
					<div class="col text-center mt-2 "> Auction 1</div>
				</div>
				<div class="row ">
					<div class="col text-center mt-2">Auction Date : 20/8/2022</div>
				</div>
				<div class="row ">
					<div class="col text-center mt-5 mb-2"><a class="btn btn-primary m-auto" href="/auction/auctioninfo">Auction Info</a></div>
				</div>
	
				</div>

				<div class="col mt-5 mb-5 solid ">
					<div class="row">
						<div class="col text-center mt-2 "> Auction 1</div>
					</div>
					<div class="row ">
						<div class="col text-center mt-2">Auction Date : 20/8/2022</div>
					</div>
					<div class="row ">
						<div class="col text-center mt-5 mb-2"><a class="btn btn-primary m-auto" href="/auction/auctioninfo">Auction Info</a></div>
					</div>
		
					</div>
					
		
		
	</section>

</section>
<%- include("../includes/end.ejs") %>
