<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<section id="containers" class="container mt-5 w-100 bg-white">
	<h2 id="heading" class="text-center text-grey">Previous Auctions</h2>

    

</section>
<%- include("../includes/end.ejs") %>
